
.ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #1890ff;
    border-bottom-color:  #e8e8e8 !important;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    float: right;
}
.ant-avatar{
    padding-left: 9px;
}